@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #3d3d44;
  font-family: "Comfortaa", cursive;
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background-color: palevioletred;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: pink;
}

::selection {
  background-color: rgba(0, 0, 0, 0.233);
  color: pink;
}

.container {
  margin-top: 60px;
  margin-bottom: 60px;
}

h6 {
  text-align: center;
  outline: none;
  width: 18%;
  padding: 10px;
  font-size: 14px;
  border-radius: 50px;
  transition: 1s ease;
  margin: auto;
  cursor: default;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.233);
  border: 1px solid rgba(0, 0, 0, 0.233);
}

h6:hover {
  color: pink;
}

h1 {
  text-align: center;
  color: whitesmoke;
  margin-top: 20px;
  cursor: default;
  font-size: 40px;
}

h1:hover {
  -webkit-text-stroke: 0.1px palevioletred;
  color: transparent;
}

.package {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  column-gap: 20px;
  margin: auto;
  margin-top: 50px;
  width: 85%;
}

.package .img:hover {
  background-image: url(flower.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.package .silver,
.package .gold,
.package .platinum {
  background-color: rgba(0, 0, 0, 0.233);
  border: 1.99px solid rgba(0, 0, 0, 0.233);
  border-radius: 10px;
  padding: 40px;
  color: whitesmoke;
}

.package .silver:hover,
.package .gold:hover,
.package .platinum:hover {
  background: rgb(255, 83, 141);
  opacity: 0.85;
  cursor: default;
}

.package h2,
h3 {
  font-size: 23px;
  text-align: center;
}

.package h3 {
  margin-top: 15px;
  font-size: 50px;
  font-weight: 600;
}

.package hr {
  margin-top: 45px;
  color: rgba(0, 0, 0, 0.233);
}

.package p {
  margin-top: 30px;
}

button {
  background-color: rgba(0, 0, 0, 0.233);
  border: 1px solid rgba(0, 0, 0, 0.233);
  color: whitesmoke;
  transition: 1s ease;
  border-radius: 10px;
  margin-top: 40px;
  padding: 12px;
  width: 70%;
  height: 60px;
  cursor: pointer;
  position: relative;
  left: 40px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1021px) {
  .package {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .package p {
    text-align: center;
  }
}
